.landing {
  background-image: url("../../assets/landingBackground.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.landing .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.landing .text {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
}
.landing .text span:first-child {
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 8px;
  font-family: var(--SecondFont);
  font-weight: 500;
  letter-spacing: 2px;
  margin-left: 10px;
}
.landing .text span:nth-child(2) {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  font-family: var(--SecondFont);
  margin-bottom: 8px;
  letter-spacing: 3px;
}
.landing .text span:nth-child(2) .ehap {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  font-family: var(--SecondFont);
  margin-bottom: 8px;
  letter-spacing: 3px;
  margin-left: 0;
}
.landing .text span:nth-child(3) {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 8px;
  font-family: var(--SecondFont);
  letter-spacing: 2px;
  margin-top: 5px;
}
.landing .text span .Ima {
  margin-right: 10px;
}
.landing .text span .graphic {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 8px;
  font-family: var(--ThirdFont);
  letter-spacing: 2px;
  margin-top: 5px;
  display: inline-block;
  color: var(--subcolor-babyblue);
}
.landing .text a {
  position: relative;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 90;
  padding: 7px 15px;
  overflow: hidden;
  background-color: #999999;
  color: black;
  text-transform: capitalize;
  border-radius: 6px;
}
.landing .text a p {
  color: #001124;
  font-size: 25px;
  font-family: var(--buttonFont);
  font-weight: 500;
  letter-spacing: 2px;
  z-index: 100;
  position: relative;
  transition: 0.3s ease-in-out;
}
.landing .text a:before {
  height: 100%;
  top: 0%;
  left: -100%;
  width: 100%;
  transition: 0.3s ease-in-out;
  content: "";
  position: absolute;
  background-color: #1a1a1a;
  z-index: 91;
}
.landing .text a:hover p {
  color: #00c3ff;
}
.landing .text a:hover:before {
  left: 0;
}

@media (max-width: 991px) {
  .landing .image {
    width: 320px;
  }
  .landing .text span:nth-child(2) {
    font-size: 57px;
  }
  .landing .text span:nth-child(2) .ehap {
    font-size: 57px;
  }
}
@media (max-width: 767px) {
  .landing .content {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .landing .image {
    margin-top: 90px;
    width: 250px;
    max-width: 100%;
    margin-bottom: 20px;
    aspect-ratio: 0.8439;
    max-height: 37vh;
    padding: 15px 15px 0 15px;
    display: flex;
    justify-content: center;
  }
  .landing .text {
    align-items: center;
    text-align: center;
  }
  .landing .text span:nth-child(2) {
    font-size: 57px;
  }
  .landing .text span:nth-child(2) .ehap {
    font-size: 57px;
  }
  .landing .text a {
    margin-top: 15px;
    font-family: "MyFont";
    margin-left: 0;
  }
}
@media (max-width: 409px) {
  .landing .text span:nth-child(2) {
    font-size: 40px;
  }
  .landing .text span:nth-child(2) .ehap {
    font-size: 40px;
  }
}
@media (max-width: 315px) {
  .landing .text span:nth-child(2) {
    font-size: 30px;
  }
  .landing .text span:nth-child(2) .ehap {
    font-size: 30px;
  }
  .landing .text span:nth-child(3) {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 8px;
    font-family: var(--SecondFont);
    letter-spacing: 2px;
    margin-top: 5px;
  }
  .landing .text span .graphic {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 8px;
    font-family: var(--SecondFont);
    letter-spacing: 2px;
    margin-top: 5px;
    display: inline-block;
    color: var(--subcolor-babyblue);
  }
}/*# sourceMappingURL=landing.css.map */