.CONTACT {
  padding-inline: 20px;
}

.errMSg {
  color: red;
  font-family: var(--subtitlefont);
  margin-inline: 22px !important;
}

.SendMain {
  margin-left: auto !important;
  margin-right: auto !important;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--subcolor-babyblue);
  font-size: 25px !important;
  font-family: var(--ThirdFont) !important;
}

.messageTell {
  margin-top: 7px !important;
  color: var(--subcolor-babyblue);
  font-size: 23px !important;
  font-family: var(--ThirdFont) !important;
}

.dowload {
  display: flex;
  position: relative;
  border-radius: 6px;
  border: 2px solid var(--subcolor-babyblue);
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  background-color: #999999;
}
@media (max-width: 991px) {
  .dowload {
    margin: 10px auto;
  }
}
.dowload:disabled {
  border: 2px solid rgba(255, 255, 255, 0.3);
  cursor: alias;
}
.dowload:disabled a {
  cursor: default;
  color: rgba(0, 0, 0, 0.3);
}
.dowload:disabled:hover a {
  color: rgba(255, 255, 255, 0.3) !important;
}
.dowload a {
  font-size: 16px;
  font-family: var(--buttonFont);
  padding: 8px 15px;
  font-weight: 500;
  transition: 0.4s;
  color: black;
  z-index: 3;
}
.dowload:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  transition: 0.4s;
  left: -100%;
  height: 100%;
  background-color: #1a1a1a;
}
.dowload:hover a {
  color: #00c3ff;
}
.dowload:hover:before {
  left: 0;
}

.field {
  width: 100%;
  margin-top: 10px !important;
}
.field .MuiOutlinedInput-notchedOutline {
  border-color: var(--subcolor-babyblue) !important;
}
.field .MuiInputBase-input {
  color: white !important;
  background-color: transparent;
}
.field .MuiFormLabel-root {
  color: white !important;
  font-family: var(--SecondFont);
}
.field .MuiFormLabel-root.Mui-focused {
  color: var(--subcolor-babyblue) !important;
}
.field .MuiFormLabel-root.Mui-error {
  color: red !important;
}
.field .Mui-error {
  color: red !important;
}
.field .Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: red !important;
}

.message {
  margin-top: 0px !important;
}

.MAIN {
  font-size: 40px !important;
  color: var(--subcolor-babyblue);
  font-family: var(--ThirdFont) !important;
}

.submain {
  font-size: 25px !important;
  color: var(--subcolor-babyblue);
  font-family: var(--SecondFont) !important;
  margin-bottom: 15px !important;
}

@media (max-width: 991px) {
  .MAIN,
  .submain {
    text-align: center;
  }
}
.boxes {
  display: flex;
  gap: 20px;
  flex-direction: column !important;
}
.boxes .box {
  border: 1px solid var(--subcolor-babyblue);
  border-radius: 7px;
  padding: 10px;
}

.mailme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
@media (max-width: 991px) {
  .mailme {
    width: 100%;
  }
}
.mailme svg {
  width: 35px;
  height: 35px;
}
.mailme .texts {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
}
.mailme .texts p {
  font-family: var(--subtitlefont);
}
.mailme .texts p:first-child {
  margin-bottom: 5px;
}
@media (max-width: 350px) {
  .mailme .texts p {
    font-size: 13px;
  }
  .mailme svg {
    width: 30px;
    height: 30px;
  }
}

.textsocial {
  font-family: var(--ThirdFont) !important;
  padding-left: 3px;
  font-size: 23px !important;
  color: var(--subcolor-babyblue);
}

@media (max-width: 991px) {
  .Socials {
    width: 100%;
  }
}
.Socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Socials ul li {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 10px;
}
.Socials ul li svg {
  width: 40px;
  transition: 0.4s all linear;
  border-radius: 6px;
  height: 40px;
}
.Socials ul li svg:hover {
  color: #1a1a1a;
  background-color: var(--subcolor-babyblue);
}
@media (max-width: 350px) {
  .Socials ul li svg {
    width: 30px;
    height: 30px;
  }
}

.chat {
  width: 35%;
}

@media (max-width: 991px) {
  .containnn {
    flex-direction: column !important;
  }
  .chat {
    width: 100%;
  }
}/*# sourceMappingURL=contact.css.map */